.fullscreen:-moz-full-screen {
    height: 100%;
}
.fullscreen:-webkit-full-screen {
    height: 100%;
}
.fullscreen:-ms-fullscreen {
    height: 100%;
}
.fullscreen:fullscreen {
    height: 100%;
}
.fullscreen {
    margin-bottom: 10px;
    width: 100%;
}
.map {
    width: 100%;
    height: 100%;
    float: left;
    position:relative;
}
.toggle-baseLayer {top:72px;left:0.5em}
.ol-rotate{top:42px}
.resetter-button {top:77px;right:0.5em}
#slider_opac {top:122px;left:0.5em}
#year_slider {
    background:rgba(255,255,255,.55);
    top:2em;left:20%;
    width:60%;
    height:30px
}
#year_slider .ui-slider-handle {
    width:9px;
    height:30px;
    margin-top:0.3em;
    margin-left:-0.3em
}
.year_display {
    text-align:center;
    padding-left:0.1em;
    padding-right:2.4em;
    margin-top:-1.5em;
    margin-left:-0.9em;
    border-radius: 0.4em;
    background:rgba(0,60,136,.5);
}
.ui-slider{position:absolute;background:rgba(255,255,255,.4);width:2em;border:0;}
.ui-slider .ui-slider-handle {
    position:absolute;background:#7b98bc;background:rgba(0,60,136,.5);border-radius:3px;cursor:pointer;height:1.2em;border:0;width:2em;margin-left:0.3em;color:white;font-weight:bold;
}
#popup {margin-bottom:50px;}